*{
  margin:0px;
  padding: 0px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root{
  background-color: whitesmoke;
}

header {
  display:flex;
  justify-content: space-between;
}

header img {
  height: 150px;
  width:150px;
  border-radius:50%
}

.mainSec{
  display: flex;
  flex-direction: row;
}
.menuSec{
  display:grid; 
  grid-template-columns: 33% 33% 33%;
  justify-content: space-between;
  align-items: center;
}

.Pizzasection{
  width: 300px;
  max-width: 450px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 10px;
  color: blue;
  background-color:wheat;
  margin: 10px;
  padding: 20px;
}


img{
 
  height: 250px;
  width: 250px;
  
}

.SizeBotton{
  height: auto;
  width:auto;
  text-align: center;
 }
.SizeBotton button {
  text-align: center;
  height:auto;
  width:auto;
  border-radius: 5px;
  height: 2rem;
}

.Bordera{
  height: auto;
  padding: 10px;
  border-width: 1px;
  border-color: black;
  border-style: dotted;

}
.Form label{
  padding-left: 50px;
  
}
.button  {
  background-color: rgb(12, 219, 122);
  border-radius: 12px;
  height: min-content;
  padding: 2px;
  font-size: medium;
}

.button.active {
  background-color:red;
  border-radius: 12px;
}


.testo-tolshina{
  text-align: center;
  
}
.testo-tolshina button {
  border-radius: 12px;
}


.space-between{
  display: flex;
  justify-content: space-between;
}
.space-between button {
  background-color: red;
  border-radius: 12px;
}

.OrderList button{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  height: 2rem;
}
.OrderList{
  width: 300px;
  height: 500px;
  position: fixed;
  left: 80%;
  border-radius: 10px;
  background-color: red;
  color: white;
 
}

.Scroll{
  height: 400px;
  overflow-y: auto;
}
.addButton button{
  height: max-content;
  width: 100px;
}
 
.ProdSec {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 25%;
  justify-content: center;
}
.ProductPage{
  display: flex;
}
.ProductPage.a {
  display: flex;
  flex-direction: column;
  
}